*{
    background-color: #5c2e2e;
        background-image: 
        repeating-linear-gradient(0deg, rgba(0,0,0,0.03) 0px, transparent 1px, transparent 2px, rgba(0,0,0,0.03) 3px),
        repeating-linear-gradient(90deg, rgba(0,0,0,0.03) 0px, transparent 1px, transparent 2px, rgba(0,0,0,0.03) 3px);
    padding: 0;
    margin: 0;
}

.bg-pic{
    background-image: linear-gradient(rgba(25, 10, 35, 0.75), rgba(15, 5, 35, 0.75)), url(shopbg.jpg);
    width: 100%;
    height: 200vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}
.bg-pic{
    background-color: #f5e6d3;
}
.bg-pic hr {
    width: 100%;
    border: none;
    border-top: 4px solid #FF9D00;
    margin: 15px 0;
    background-color: transparent !important;
    height: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-pic h1{
    color: #FF9D00; 
    text-shadow: 2px 2px 4px rgb(0, 0, 0,0.7);
    position: relative;
    padding-bottom: 50px;
    z-index: 1;
    text-align: center;
    background-color: transparent;
    font-size: 50px;
}
.bg-pic h4{
    color: #FF9D00; 
    text-shadow: 2px 2px 4px rgb(0, 0, 0,0.7);
    position: relative;
    z-index: 1;
    margin: 10px 0;
    background-color: transparent;
    padding-left: 20px;
}
.bg-pic font{
    width: 100%;
    background-color: transparent;
}

.image-grid {
    width: 50%;
    height: 400x;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
    background-color: transparent;
    border: 5px solid #FF9D00;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 30px;
    
}
.image-grid::-webkit-scrollbar {
    display: none;
}
.image-grid img {
    height: auto;
}

.image-grid img:nth-child(1) {
    width: 30%;
}

.image-grid img:nth-child(2) {
    width: 30%;
   height: 279%;
}
.image-grid img:nth-child(3){
    width: 30%;
    height: 10%;
    
}
.image-grid img:hover{
    transform: scale(1.1);
}

.img-pic{
    width: 40%;
    height: 400x;
    display:flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 10px;
    align-items: center;
    border: 5px solid #B6771D;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    padding-left: 10px;
}
.img-pic::-webkit-scrollbar {
    display: none;
}
.img-pic img {
    height: auto;
}
.img-pic img:nth-child(1){
    width: 300px;
    height: 345px;
    
}
.img-pic img:nth-child(2){
  width: 35%;
  height: 345px
}
.img-pic img:nth-child(3){
    width: 30%;
    height: 345px;
}
.img-pic img:hover{
    transform: scale(1.1);
}
.h2{
    color:#FF9D00;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px;
    background-color: transparent;
    text-decoration: underline;
    
}

.img-highlight{
    width: 50%;
    height: 250px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 20px auto 20px;
    align-items: flex-start;
    border: 8px solid #FF9D00;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: transparent;

}
.img-highlight::-webkit-scrollbar{
    display: none;
}
.img-highlight img{
    height: auto;
    object-fit: cover;
}
.img-highlight img:nth-child(1){
    height: 100%;;
}
.img-highlight img:nth-child(2){
    width: 35%;
    height: 100%;
}
.img-highlight img:nth-child(3){
    width: 100%;
    height: 100%;
}
.img-highlight img:hover{
    transform: scale(1.1);
}

.img-leap{
    width: 500px;
    height: 250px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 20px auto;
    align-items: flex-start;
    border: 6px solid #FF9D00;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    max-width: fit-content;
}
.img-leap::-webkit-scrollbar{
    display: none;
}
.img-highlight img{
    height: auto;
    object-fit: cover;
}
.img-leap img:nth-child(1){
    height: 100%;
    align-items: center;
}
.img-leap img:hover{
    transform: scale(1.1);
}

.img-wine{
    width: 350px;
    height: 290px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 10px auto;
    align-items: flex-start;
    border: 6px solid #FF9D00;
    border-radius: 10px;
    background-color: transparent;
    align-items: center;
    max-width: fit-content;
    padding-left: 10px

}
.img-wine::-webkit-scrollbar{
    display: none;
}
.img-wine img{
    height: auto;
    object-fit: cover;
}
.img-wine img:nth-child(1){
    width: 50%;
    height: 300px;
    
}
.img-wine img:nth-child(2){
    width: 50%;
    height: 300px;
}
.img-wine img:hover{
    transform: scale(1.1);
}
.h3{
    color: #FF9D00;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
.h4{
    color: #FF9D00;
    background-color: transparent;
}
.p{
    color: #FF9D00;
    text-align: center;
    background-color: transparent;
  
}
.q{
    color: #FF9D00;
    background-color: transparent;
    padding-right: 20px;
    margin-top: 10px;
}
.Menu{
    color: #FF9D00;
    padding-left: 30px;
    
    
}
.Menu li{
    margin-bottom: 12px;
    line-height: 1.3;
    
}

.b{
    background-color: transparent;
}
.sup{
    background-color: transparent;
}
.footer-btm{
    padding: 5%;
    background-color: #c9b99b;
    margin-top: 50px;
}
.i{
    text-align: center;
    color: black;
    background-color: transparent;
}
.i i{
    background-color: transparent;
}